{% extends 'base.html' %}

{% block content %}
<h2>Agenda diária</h2>

<form method="get">
    <label for="data">Selecione a data:</label>
    <input
    type="date"
    id="data"
    name="data"
    value="{{ data_selecionada|date:'Y-m-d' }}"
>
    <button type="submit">Filtrar</button>
</form>

<hr>

<ul>
    {% for consulta in consultas %}
        <li>
             <strong>{{ consulta.data|date:"d/m/Y" }}</strong> —
            {{ consulta.paciente.nome }}
            <br>
            {{ consulta.profissional }} |
            {{ consulta.get_status_display }} |
            <small>{{ consulta.hora|time:"H:i" }}</small>

            {% if consulta.prontuario %}
                <a href="{% url 'prontuario_abrir' consulta.id %}">
                    Editar prontuário
                </a>
            {% else %}
                <a href="{% url 'prontuario_abrir' consulta.id %}">
                    Criar prontuário
                </a>
            {% endif %}
        </li>
    {% empty %}
        <li>Nenhuma consulta para esta data.</li>
    {% endfor %}
</ul>

<a href="{% url 'consulta_list' %}">Voltar</a>
{% endblock  %}
