<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>VITTA</title>
    {% load static %}
    
</head>
<body>
    <h1>VITTA – Sistema de Saúde</h1>

    {% block content %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock %}
   
</body>
</html>
